.bm-refunds-list {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin: 15px 0 7px 0;
  padding-top: 4px;

  .underline {
    text-decoration: underline;
  }
}

#bluemedia_order_subscription_info {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding: 3px 0;
}

#subscription-deactivate-wrapper,
#subscription-payment-wrapper {
  text-align: right;
  width: 100%;

  a {
    margin: 7px 0;
    padding: 4px 6px;
  }
}

.bm_rc_activated {
  color: #a7d769;
}
.bm_rc_disactivated {
  color: #fd6d3b;
  text-decoration: line-through;
}
.bm_rc_pending {
  color: #ffa646;
}
